<launch>
  <arg name="platform_control_odom" default="/husky_velocity_controller/odom" />
  <arg name="platform_odom" default="/odometry/filtered" />
  <arg name="front_laser" default="/front/scan" />
  <arg name="rear_laser" default="/rear/scan" />
  <arg name="stereo_camera" default="/stereo_camera" />
  <arg name="diagnostics" default="/diagnostics" />
  <arg name="is_sim" default="false" />

  <include file="$(find ark_bridge)/launch/client.launch" >
    <arg name="platform_control_odom" value="$(arg platform_control_odom)" />
    <arg name="platform_odom" value="$(arg platform_odom)" />
    <arg name="front_laser" value="$(arg front_laser)" />
    <arg name="rear_laser" value="$(arg rear_laser)" />
    <arg name="stereo_camera" value="$(arg stereo_camera)" />
    <arg name="diagnostics" value="$(arg diagnostics)" />
    <arg name="is_sim" value="$(arg is_sim)" />
  </include>
</launch>

